body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#map {
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
}

#sidebar {
	height: 100%;
	width: 25%;
	float: right;
	background-color: white;
	border-left: 1px solid lightgrey;
	position: absolute;	
	right: 0;
	margin-right: 0;
	font-size: 1.25em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-top: 0;
	display: none;
}

.input-group {
	font-size: 1.125em;
	margin: 0;
	margin-left: 0.3125em;
	margin-top: -0.3125em auto;
	position: relative;
	clear: both;
	background-color: #B8FFFD;
	height: 100%;
	width: 97.5%;
	border-radius: 2.5%;
	box-shadow: 1px 1px 2.5px #A6A6A6;
}

.input-group p {
	padding-left: 0.46875em;
	padding-top: 0.3125em;
	padding-bottom: 0;
	font-family: 'Comfortaa', cursive;
}

#searchbar {
	font-size: 1em;
	display: inline;
	border-radius: 0.3125em;
	margin: auto;
	margin-left: 0.3125em;
	margin-bottom: 0.3125em;
	margin-right: 0.3125em;
	width: 75%;
	position: relative;
	font-family: 'Comfortaa', cursive;
}

#inputbar {
	display: inline;
	border-radius: 0.3125em;
	margin-left: 0.3125em;
	margin-bottom: 0.3125em;
	margin-right: 0.3125em;
	width: 97%;
	position: relative;
	font-family: 'Comfortaa', cursive;
}

.submit {
	display: inline;
	position: relative;
}

hr {
	display: block;
	position: relative;
	margin: auto;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

.icon {
	width: 3.125em;
	height: 2.8125em;
}

.filterOn {
	font-size: 2em;
	color: #0277BD;
}

#sidebar h5 {
	text-align: center;
	font-size: 2.5em;
	font-weight: 200;
}

#Top-100-Preview {
	margin: auto;
	position: relative;
	clear: both;
	background-color: white;
	width: 97.5%;
	font-family: 'Comfortaa', cursive;
	font-size: 1.125em;
	box-shadow: 1px 1px 2.5px #A6A6A6;
}

#Top-100-Preview p {
	text-align: center;
	font-size: 1.5em;
}

#Top-100-Preview table {
	text-align: center;
	border-radius: 2%;
	margin: auto;
	margin-top: -0.625em;
}

#Top-100-Preview table th {
	text-align: center;
}

#Submit-Tea-Shop {
	position: relative;
	display: block;
	width: 97%;
	margin: auto;
	margin-top: 0.625em;
	margin-bottom: 0.3125em;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	background-color: #FF7171;
	color: white;
	box-shadow: 1px 1px 5px #888888;
}

#Submit-Tea-Shop:hover {
	background-color: #FC5C5C;
}

#Submit-Another-Tea-Shop {
	position: absolute;
	display: none;
	bottom: 2.5%;
	width: 97%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	background-color: #FF7171;
	color: white;
	box-shadow: 1px 1px 5px #888888;
}

#Submit-Another-Tea-Shop:hover {
	background-color: #FC5C5C;
}

.Tea-Shop-Submit {
	display: none;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 40%;
}

.Add-Tea-Shop {
	position: absolute;
	display: block;
	width: 95%;
	bottom: 0.46875em;
	right: 0;
	left: 0;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: white;
	box-shadow: 1px 1px 2.5px #888888;
}

#Go-Add-Tea {
	background-color: #FF7171;
	border: none;
}

#Go-Add-Tea:hover {
	background-color: #FC5C5C;
}

#Return-Tea-Shop {
	background-color: #8CD66C;
	border: none;
}

#Return-Tea-Shop:hover {
	background-color: #6FD660;
}

#contact {
	background-color: #F7F6E1;
	border-radius: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: lighter; 
	margin: 0.3125em; 
	margin-top: 0.625em;
	padding: 0.3125em;
	text-align: center;
	box-shadow: 1px 1px 2.5px #A6A6A6;
}

#open {
	height: 5em;
	width: 5em;
	top: -0.625em;
	right: 1.875em;
	display: none;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	-ms-transition: transform 0.25s;
	-webkit-transition: transform 0.25s;
	transition: transform 0.25s;
}

#open:hover {
	-ms-transform: scale(1.15, 1.15);
	-webkit-transform: scale(1.15, 1.15);
	transform: scale(1.15, 1.15);
	transition-timing-function: ease;
}

#close {
	background-color: #B8FFFD;
	position: absolute;
	right: 0;
}

#close:hover {
	background-color: #90F9F6;
}

.bar {
	height: 0.125em;
	width: 1em;
	background-color: black;
	margin: 0.125em 0;
}

#open img {
	height: 5em;
	width: 5em;
	z-index: 1;
}

#logo {
	display: block;
	position: relative;
	margin: auto;
}
